.section-title {
    color: #333;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#demo {
    color: #333;
    font-size: 18px;
    margin-top: 10px;
}
p
{
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}
@font-face {
  font-family: myFirstFont;
  src: url(fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
